.circle {
    height: 73vh;
    // background-color: red;
    background-image: url(../assets/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px;
    padding-left: 45vw;

    h1 {
        padding: 8px 0;
        letter-spacing: 8px;
        font-size: 30px;

    }

    h2 {
        color: black;
        font-size: 110px;
        font-weight: bolder;
        line-height: .8;
    }

    p {
        font-size: 16px;
        padding: 8px 0;

        a {
            color: black;
        }
    }

    button {
        padding: 6px 20px;
        border: none;
        background-color: black;
        color: white;
        font-size: 1.2rem;
    }

}

@media only screen and (max-width:1400px){
    .circle {
        height: 50vh;
        background-position: start;
        padding: 10px;
        padding-left: 10vw;
        padding-top: 4rem;

        h1 {
            font-size: 20px;
            font-weight: light;
        }

        h2 {
            font-size: 60px;
            font-weight: bolder;
            line-height: .8;
        }

        p {
            font-size: 16px;
            padding: 8px 0;

            a {
                color: black;
            }
        }
    }
}