.contact {
    height: auto;
    display: flex;
    justify-content: end;
    background-image: url(../assets/back.jpg);

    .frm{
        h3{
            font-size: 3rem;
            font-weight: bolder;
            padding-bottom: 25px;
        }
        display: flex;
        flex-direction: column;
        padding-right: 200px;
        justify-content: center;
        text-align: center;
        input{
            padding: 15px;
            width: 380px;
        }
        .all{
            border: none;
            margin: 10px;
        }
        button{
            padding: 15px;
            background-color: black;
            color: white;
            font-weight: bolder;
            font-size: 1.2rem;
            margin-bottom:40px ;
        }
        p{
            margin-top: 40px;
        }

    }

    .min {
        
        width: 42vw;
        height: 35vw;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: blue;
        overflow: hidden;

        img {
            width: 130%;
            object-fit:  fill;
            object-position: center;

           
        }
    }
}


@media only screen and (max-width:600px){
  .contact{
    flex-direction: column;
    .frm{
        align-items: center;
        padding-right: 0px;
        input{
            width: 80vw;
        }
        button{
            width: 80vw;
        }
    }
    .min{
        padding: 0px;
        width: 95vw;
        height: 95vw;
        img{
            width: 110%;
            object-fit: contain;
            object-position: right;
        }
    }
  }  
}