.footer{
    height: 250px;
    padding-top: 10px;
    background-color: rgb(51,51,51);
    text-align: center;
    color: white;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}